.form-container {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 10px 30px 30px;
  }
  
  .form-container h1 {
    margin-bottom: 10px;
  }
  
  .form-container div {
    margin-bottom: 20px;
  }
  
  .form-container label {
    margin-right: 10px;
  }
  
  .form-container input[type="text"],
  .form-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  
  }
  

  

  .button-container .savebutton{
   padding: 10px; 
    border: none; 
    background: green;
     color: #fff; 
     width: 100%; 
     cursor: pointer;
     border-radius: 5px;
     margin-right: 10px; 
  }
  .button-container .editbutton{
    padding: 10px; 
     border: none; 
     background: orange;
      color: #fff; 
      width: 100%; 
      cursor: pointer;
      border-radius: 5px
   }

 